@font-face {
    font-family: helvesos;
    src: url(./assets/fonts/Helvetica-Neue-LT-Com-95-Black.ttf);
}

body{
    font-family: helvesos;
}

.tel{
    color: #C1272D;
}

h2{
    color: #C1272D;
}
h1{
    color: #C1272D;
}

h6{
    color: #767676;
}

h5{
    color: #767676;
}